{% extends 'base.html' %}

{% block title %}Fiches outils{% endblock %}
{% block description %}Formulaires, méthodes et ressources pratiques pour les étudiants de TSI1.{% endblock %}

{% block content %}

<h1 class="page-title">Fiches outils</h1>
<p class="page-intro">Formulaires, méthodes et ressources pratiques.</p>

<div class="cartes-doc-grid">
    {% for fiche in fiches %}
        <article class="carte-doc">
            <div class="carte-doc__header">
                <h3 class="carte-doc__titre">{{ fiche.titre }}</h3>
            </div>
            {% if fiche.description %}
                <p class="carte-doc__description">{{ fiche.description|truncatewords:25|urlize }}</p>
            {% endif %}
            
            <div class="carte-doc__lies-liste">
                {% for fichier in fiche.fichiers.all %}
                    <a href="{{ fichier.fichier.url }}" class="carte-doc__lie-item">
                        <span class="carte-doc__lie-item-label">
                        <i class="ti ti-{{ doc.icone }}"></i>
                        {{ fichier.legende|default:'Fichier'}}
                        </span>
                        <i class="ti ti-download"></i>
                    </a>
                {% endfor %}
            </div>
            

        </article>
    {% empty %}
        <p>Aucune fiche outil publiée pour le moment.</p>
    {% endfor %}
</div>

{% endblock %}
