SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=
DB_PATH=
DEFAULT_FROM_EMAIL=
CONTACT_EMAIL=
STATIC_ROOT=
MEDIA_ROOT=

MAILER_BACKEND='django.core.mail.backends.smtp.EmailBackend'
SMTP_HOST=
SMTP_PORT=
SMTP_SSL=
SMTP_TLS=
SMTP_USER=
SMTP_PASSWORD=
DEFAULT_FROM_EMAIL=
CONTACT_EMAIL=