{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Titre page{% endblock %} - TSI1</title>

    <meta name="description" content="{% block description %}Supports de cours, TP, devoirs et fiches outils pour la classe préparatoire TSI1 en physique et chimie.{% endblock %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon.svg' %}">

    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/tabler-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/tokens.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'css/cartes/doc-icone.css' %}">
    <link rel="stylesheet" href="{% static 'css/cartes/carte-document.css' %}">
    <link rel="stylesheet" href="{% static 'css/cartes/carte-cours.css' %}">
    <link rel="stylesheet" href="{% static 'css/cartes/carte-tp.css' %}">
    <link rel="stylesheet" href="{% static 'css/formulaire.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

    {% include 'partials/header.html' %}
    
    <main class="container site-main">
        {% block content %}{% endblock %}
    </main>
    
    {% include 'partials/footer.html' %}

    <script src="{% static 'js/nav.js' %}" defer></script>
</body>
</html>